<p id="notice"><%= notice %></p>

<h1>Listing Project Managers</h1>

<p>
  <%= link_to 'New Project manager', new_project_manager_path,
    class: "btn btn-default", role: "button" %>
</p>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_managers.each do |project_manager| %>
      <tr>
        <td><%= project_manager.name %></td>
        <td><%= link_to 'Show', project_manager %></td>
        <td><%= link_to 'Edit', edit_project_manager_path(project_manager) %></td>
        <td><%= link_to 'Destroy', project_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
