<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role_humanize %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<hr>

<h3>Teams</h3>

<ul>
  <% @user.teams.order(:name).each do |team| %>
    <li>
      <%= link_to team.name, team %>
      (<%= team.active? ? "Active" : "Inactive" %>)
    </li>
  <% end %>
</ul>

<hr>

<h3>Projects</h3>

<%= render "projects/index", projects: @user.active_projects %>

