<p id="notice"><%= notice %></p>

<h1>Live Projects</h1>

<p><%= link_to 'New Project', new_project_path, class: "btn btn-default",
  role: "button" %></p>

<%= form_tag projects_path, method: :get, class: "form-inline" do %>
  <div class="form-group">
    <%= label_tag :team_id, "Team" %>
    <%= select_tag :team_id, options_from_collection_for_select(@teams, :id, :name, params[:team_id]),
      include_blank: "Filter by team", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :project_manager_id, "Project Manager" %>
    <%= select_tag :project_manager_id, options_from_collection_for_select(@project_managers, :id, :name, params[:project_manager_id]),
      include_blank: "Filter by project manager", class: "form-control" %>
  </div>
    <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>

<hr />

<%= render "index", projects: @projects %>

