<p id="notice"><%= notice %></p>

<h1>Live Projects</h1>

<p><%= link_to 'New Project', new_project_path, class: "btn btn-default",
  role: "button" %></p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>PM</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Milestones</th>
      <th>Invoices</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each_with_index do |project, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= project.name %></td>
        <td><%= project.project_manager.try(:name) %></td>
        <td><%= l project.start_date if project.start_date %></td>
        <td><%= l project.end_date if project.end_date %></td>
        <td>
          <%= milestones_for project if project.milestones.any? %>
          <%= add_resource("milestone", new_project_milestone_path(project)) %>
        </td>
        <td>
          <%= invoices_for(project) if project.invoices.any? %>
          <%= add_resource("invoice", new_project_invoice_path(project)) %>
        </td>
        <td>
          <%= link_to 'Archive', archive_project_path(project, archived: true),
            method: :patch %>
          |
          <%= link_to 'Show', project %>
          |
          <%= link_to 'Edit', edit_project_path(project) %>
          |
          <%= link_to 'Destroy', project, method: :delete,
            data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

