<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<%= link_to 'New Project', new_project_path, class: "btn btn-default",
  role: "button" %>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Budget</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Milestones</th>
      <th>Invoices</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= number_to_currency(project.budget) %></td>
        <td><%= l project.start_date if project.start_date %></td>
        <td><%= l project.end_date if project.end_date %></td>
        <td>
          <% project.milestones.each do |m| %>
            <%= tooltiped_span(m.release_date,
                               m.name.presence || m.milestone_humanize) %>
          <% end %>
          <%= add_resource("milestone", new_project_milestone_path(project)) %>
        </td>
        <td>
          <% project.invoices.each do |i| %>
            <%= display_invoice(i) %>
          <% end %>
          <%= add_resource("invoice", new_project_invoice_path(project)) %>
        </td>
        <td>
          <%= link_to 'Show', project %>
          |
          <%= link_to 'Edit', edit_project_path(project) %>
          |
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

