<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget && number_to_currency(@project.budget) %>
</p>

<p>
  <strong>Expenditure:</strong>
  <%= number_to_currency(@project.project_reports.
                          sum(:total_time) * Project::RATE_PER_DAY) %>
  (<%= pluralize(@project.project_reports.sum(:total_time), "day") %>)
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date && l(@project.start_date) %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date && l(@project.end_date) %>
</p>

<hr>

<h2>Reports</h2>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Cost</th>
      <th>Time (d)</th>
      <th>Breakdown</th>
    </tr>
  </thead>
  <tbody>
    <% total_days = 0 %>
    <% total_cost = 0.0 %>
    <% @project.project_reports.each do |pr| %>
      <% total_days += pr.total_time %>
      <% total_cost += (pr.total_time * Project::RATE_PER_DAY) %>
      <tr>
        <td><%= l(pr.report.report_date) %></td>
        <td><%= number_to_currency(pr.total_time * Project::RATE_PER_DAY) %></td>
        <td><%= "%.2f" % pr.total_time %></td>
        <td>
          <ul>
            <% pr.breakdown.sort{|a,b| b["percentage"] <=> a["percentage"]}.each do |h| %>
              <%= h["email"] %> worked <%= h["percentage"] %>% (<%= h["days"] %> days)
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <tr>
      <th>Total</th>
      <td><%= number_to_currency(total_cost) %></td>
      <td><%= "%.2f" % total_days %></td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
