<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Project Manager:</strong>
  <%= link_to(@project.project_manager.name,
              @project.project_manager) if @project.project_manager %>
</p>

<p>
  <strong>Team:</strong>
  <%= link_to(@project.team.name, @project.team) if @project.team %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to(@project.client.name, @project.client) if @project.client %>
</p>

<p>
  <strong>Intranet:</strong>
  <%= link_to(@project.intranet_url, @project.intranet_url) if @project.intranet_url %>
</p>

<%# commented out for now
<p>
  <strong>Score:</strong>
  <%= @project.score % >
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget && number_to_currency(@project.budget) % >
</p>
%>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date && l(@project.start_date) %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date && l(@project.end_date) %>
</p>

<%= link_to "Edit", edit_project_path(@project) %> |
<%= link_to "Back", projects_path %>

<hr>

<h2>Milestones</h2>
<p><%= link_to "Add", new_project_milestone_path(@project) %></p>
<%= render "milestones/index",
  milestones: @project.milestones.order("release_date DESC") %>
