<h1>
  <%= l @interval.first %> to
  <%= l @interval.last %>
</h1>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Budget</th>
      <% today = Date.today %>
      <% @range_of_months.each do |r| %>
        <th class="<%= "current" if r.month == today.month && r.year == today.year %>">
          <%= r.strftime("%b/%y") %>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= number_to_currency(project.budget) %></td>
        <% my_val = @per_months.select{|t| t[0] == project.id}.first[1] %>
        <% @range_of_months.each do |dt| %>
          <td style="<%= "background-color: rgba(144,238,144, #{my_val});" if project.status_for(dt) %>">
            <% if milestones = project.milestones.
                where(release_date: dt..dt.end_of_month) %>
              <% milestones.each do |m| %>
                <span class="glyphicon glyphicon-time" aria-hidden="true"
                   data-toggle="tooltip"
                   title="<%= m.name.presence || m.milestone_humanize %> - <%= m.release_date %>"></span>
              <% end %>
            <% end %>
            <% if invoices = project.invoices.
                where(planned_date: dt..dt.end_of_month) %>
              <% invoices.each do |i| %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"
                   data-toggle="tooltip"
                   title="<%= i.name %> - <%= number_to_currency(i.value) %> on <%= i.planned_date %>"></span>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
