<h1>
  <%= @interval.first.strftime("%B-%Y") %> to
  <%= @interval.last.strftime("%B-%Y") %>
</h1>

<%= form_tag outlook_path, method: :get, class: "form-inline" do %>
  <div class="form-group">
    <%= label_tag :team_id, "Team" %>
    <%= select_tag :team_id, options_from_collection_for_select(@teams, :id, :name, params[:team_id]),
      include_blank: "Filter by team", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :project_manager_id, "Project Manager" %>
    <%= select_tag :project_manager_id, options_from_collection_for_select(@project_managers, :id, :name, params[:project_manager_id]),
      include_blank: "Filter by project manager", class: "form-control" %>
  </div>
    <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>

<hr />

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>PM</th>
      <th>Team</th>
      <% today = Date.today %>
      <% current_month = nil %>
      <% @range_of_months.each do |r| %>
        <% current_month = r if r.month == today.month && r.year == today.year %>
        <th class="<%= "current" if r == current_month %>">
          <%= r.strftime("%b/%y") %>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.project_manager&.display_name %></td>
        <td><%= project.team&.name %></td>
        <% @range_of_months.each do |dt| %>
          <td class="<%= "underway" if project.status_for(dt) %> <%= "current" if dt == current_month %>">
            <% if milestones = project.milestones.
                select{|m| m.release_date&.year == dt.year && m.release_date&.month == dt.month} %>
              <% milestones.each do |m| %>
                <span class="glyphicon glyphicon-time" aria-hidden="true"
                   data-toggle="tooltip"
                   title="<%= m.name.presence || m.milestone_humanize %> - <%= l m.release_date %>"></span>
              <% end %>
            <% end %>
            <% if invoices = project.invoices.
                select{|i| i.planned_date&.month == dt.month && i.planned_date&.year == dt.year } %>
              <% invoices.each do |i| %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"
                   data-toggle="tooltip"
                   title="<%= i.name %> - <%= number_to_currency(i.value) %> on <%= l i.planned_date %>"></span>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
