<p id="notice"><%= notice %></p>

<h1>Archived Projects</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>PM</th>
      <th>Team</th>
      <th>Client</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Milestones</th>
      <th>Invoices</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each_with_index do |project, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= project.name %></td>
        <td>
          <%= link_to(project.project_manager.name,
                      project.project_manager) if project.project_manager %>
        </td>
        <td><%= link_to(project.team.name, project.team) if project.team %></td>
        <td><%= link_to((project.client.short_name || project.client.name), project.client) if project.client %></td>
        <td><%= l project.start_date if project.start_date %></td>
        <td><%= l project.end_date if project.end_date %></td>
        <td>
          <%= milestones_for project if project.milestones.any? %>
        </td>
        <td>
          <%= invoices_for(project) if project.invoices.any? %>
        </td>
        <td>
          <%= link_to 'Unarchive', archive_project_path(project, archived: false),
            method: :patch %>
          |
          <%= link_to 'Show', project %>
          |
          <%= link_to 'Edit', edit_project_path(project) %>
          |
          <%= link_to 'Destroy', project, method: :delete,
            data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

