<p id="notice"><%= notice %></p>

<h1>Archived Projects</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Budget</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Milestones</th>
      <th>Invoices</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% total = 0.0 %>
    <% @projects.each_with_index do |project, i| %>
      <% total += project.budget if project.budget %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= project.name %></td>
        <td><%= number_to_currency(project.budget) %></td>
        <td><%= l project.start_date if project.start_date %></td>
        <td><%= l project.end_date if project.end_date %></td>
        <td>
          <% project.milestones.each do |m| %>
            <%= tooltiped_span(m.release_date,
                               m.name.presence || m.milestone_humanize) %>
          <% end %>
        </td>
        <td>
          <% project.invoices.each do |i| %>
            <%= display_invoice(i) %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Unarchive', archive_project_path(project, archived: false),
            method: :patch %>
          |
          <%= link_to 'Show', project %>
          |
          <%= link_to 'Edit', edit_project_path(project) %>
          |
          <%= link_to 'Destroy', project, method: :delete,
            data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th colspan=2>Total</th>
      <td><%= number_to_currency total %></td>
      <td colspan=6></td>
    </tr>
  </tbody>
</table>

