<tr>
  <td>
    <%= f.select :project_id,
      options_from_collection_for_select(projects, :id, :name, f.object.project_id),
      { include_blank: true }, class: "form-control"%>
  </td>
  <td>
    <%= f.text_field :project_name, disabled: true, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :total_time, disabled: true, class: "form-control" %>
  </td>
  <% if f.object.breakdown.present? %>
    <td>
      <ul>
        <% f.object.breakdown.sort{|a,b| b["percentage"] <=> a["percentage"]}.
          each do |h| %>
          <li>
            <%= h["email"] %> worked <%= h["percentage"] %>% (<%= h["days"] %> days)
          </li>
        <% end %>
      </ul>
    </td>
  <% end %>
</tr>
